:root{
    --bg-gradient : linear-gradient( 45deg, #110f31e7 0%, #030126ec 100%);
    --main-bg : #252260d8 ;
    --primary-color : #252260;
    --secondary-color: #a39ff0ae;
    --font-family : Poppins, sans-serif;
    --transparent : rgba(0, 0, 0, 0.447);
    --pending: rgba(246, 207, 12, 0.447);
    --to-do : rgba(123, 177, 243, 0.447);
    --completed : rgba(8, 203, 63, 0.447);
    --blocked : rgba(85, 72, 233, 0.447);
}
body{
    width: 100vw;
    overflow: hidden;
}